<div class="container is-fluid mt-4">
  <%= render 'patients/patient', patient:@case.patient %>
  <br>
  <div>
    <h2 class = "subtitle">Case details</h2>
    <%= turbo_frame_tag @case do %>
      <%= render 'case_details', my_case: @case %>
    <% end %>
  </div>
</div>
