<% if @patient %>
  <table class = "table">
    <thead>
      <tr>
        <th>Patient name</th>
        <th>Patient DNI</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= button_to @patient.full_name, new_case_path, method: :get, params: {patient_id: @patient.id}, class: 'button is-text' %>
        </td>
        <td><%= @patient.dni %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <div class="notification">
    <p class ="title" >Patient not found!</p>
    <%= link_to 'Create new patient and case', new_patient_path %>
  </div>
<% end %>
