<% if @patient %>
  <%= button_to @patient.full_name, new_case_path, method: :get, params: {patient_id: @patient.id} %>
<% else %>
  <div>
    <p>Patient not found! Create <%= link_to 'New patient and case', new_patient_path %></p>
  </div>
<% end %>
