 <%= form_with url: '/patients', method: :get do |f| %>
  <div class="field has-addons">
    <div class="control">
      <%= f.text_field :patient_search, class: 'input', placeholder: 'Patient DNI' %>
    </div>
    <div class="control">
      <%= f.submit 'New Case', class: 'button is-info' %>
    </div>
  </div>
<% end %>
</div>
<% if params[:patient_search] %>
  <%= render 'pages/search_result' %>
<% end %>
