<div class="container is-fluid mt-4">
  <%= turbo_frame_tag @patient do %>
    <%= render 'patient', patient: @patient %>
  <% end %>
  <br>
  <div>
    <h2 class="subtitle">Patient cases</h2>
    <%= render 'cases/cases_table', cases: @patient.cases %>
  </div>
</div>
