<h1>Pathologists#index</h1>
<p>Find me in app/views/pathologists/index.html.erb</p>
<% @pathologists.each do |pathologist| %>
  <ul>
    <li><%= link_to pathologist.full_name, pathologist_path(pathologist) %></li>
  </ul>
<% end %>
