<% flash.each do |name, message| %>
  <%= tag.article class:("message is-#{name}") do %>
    <div class="message-header">
      <p><%= name.capitalize %></p>
      <%# <button class="delete" aria-label="delete"></button> %>
    </div>
    <div class="message-body">
      <%= message %>
    </div>
  <% end %>
<% end %>
